@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes scroll-up {
        0% {
            transform: translateY(0);
        }

        100% {
            transform: translateY(-50%);
        }
    }

    .animate-scroll-up {
        animation: scroll-up 30s linear infinite;
        /* Slowed down slightly for better readability */
    }

    .animate-dance {
        display: inline-block;
        transition: transform 0.3s ease;
    }

    .animate-dance:hover {
        transform: translateY(-5px);
    }

    .reveal-hidden {
        opacity: 0;
        transform: translateY(30px);
        transition: opacity 0.8s ease-out, transform 0.8s ease-out;
    }

    .reveal-visible {
        opacity: 1;
        transform: translateY(0);
    }
}